<div class="well">
	<div id="bubbles">
		<div class="buttons">
			<button class="action" id="selectAspect"><span class="label">Select aspects</span><span class="selectarrow">&#9660;</span></button>
		</div>
		<div class="help-page"><a href="<%= help_path %>/bubbles">Help</a></div>
		<div id="container" class="container">
		    <div id="main" role="main">
		    	<div id="vis"></div>
		    </div>
		</div>
		<div id="legenda"><ul></ul></div>
	</div>
</div>
<script type="text/javascript">
	$(function () {
		var aspectbox = new Selectbox($('#selectboxAspect'),$('#selectAspect'));

		function delay (ms,func){
			setTimeout(func,ms);
		}

		$(document).click(function() {
		    aspectbox.hide();
		});

		$('#selectAspect').click(function(e){
			e.stopPropagation();
			if(aspectbox.selected){
				aspectbox.hide();
			}
			else{
				aspectbox.show();
			}
		});

		$('#selectboxAspect').click(function(e){
			e.stopPropagation();
		});
		
		var unselectedAspects = [];
		window.bubbleOverview;

		function getCheckbox(checkbox){
			$(checkbox).change(function(){
				if(checkbox.checked == true){
					unselectedAspects.splice(jQuery.inArray(checkbox.id, unselectedAspects),1);
					window.bubbleOverview.update(unselectedAspects);
				}
				if(checkbox.checked == false){
					unselectedAspects.push(checkbox.id);
					window.bubbleOverview.update(unselectedAspects);
				}
			});
		}
		var boxes = aspectbox.getCheckboxes();
		for(var i in boxes){
			getCheckbox(boxes[i]);
		}

		render_overview = function(csv) {
			window.bubbleOverview = new BubbleChart(csv, $("#vis").width(), $("#vis").width() * 0.66, "#vis");
			$('#legenda').css('top', $("#vis").width() * 0.33);
			window.bubbleOverview.start();
			window.bubbleOverview.display_group_all();
		};
		d3.csv("/<%= @csv_file %>", render_overview);
	})
</script>