<div class="well">
	<div class="buttons">
		<button class="action" id="selectAspect"><span class="label">Select aspects</span><span class="selectarrow">&#9660;</span></button>
	</div>
	<div class="help-page"><a href="<%= help_path %>/timeline">Help</a></div>
	<div id="line"></div>
</div>
<script type="text/javascript">
	$(function () {
		var aspectbox = new Selectbox($('#selectboxAspect'),$('#selectAspect'));

		function delay (ms,func){
			setTimeout(func,ms);
		}

		$(document).click(function() {
		    aspectbox.hide();
		});

		$('#selectAspect').click(function(e){
			e.stopPropagation();
			if(aspectbox.selected){
				aspectbox.hide();
			}
			else{
				aspectbox.show();
			}
		});

		$('#selectboxAspect').click(function(e){
			e.stopPropagation();
		});
	
	    var lineChart;
	    var urlpath = window.location.pathname.split('/');
	    if(urlpath[1]){
	        lineChart = new Highcharts.Chart({
	            chart: {
	                renderTo: 'line',
	                type: 'line',
	                zoomType: 'x'
	            },
	            title: {
	                text: 'Programming Languages developments',
	                x: -20 //center
	            },
	            xAxis: {
	                categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
	                    'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
	            },
	            yAxis: {
	                title: {
	                    text: 'Rating'
	                },
	                plotLines: [{
	                    value: 0,
	                    width: 1,
	                    color: '#808080'
	                }]
	            },
	            tooltip: {
	                formatter: function() {
	                        return '<b>'+ this.series.name +'</b><br/>'+
	                        this.x +': '+ this.y;
	                }
	            },
	            legend: {
	                layout: 'vertical',
	                align: 'right',
	                verticalAlign: 'top',
	                x: -10,
	                y: 100,
	                borderWidth: 0
	            },
	            series: [
		            <% FasterCSV.foreach("public/#{@csv_file}", :headers => true) do |csv_obj| %>
		            	<%= "{ name: '#{csv_obj['technology']}', data: [#{csv_obj['total'].to_f * rand()}, #{csv_obj['total'].to_f * rand()}, #{csv_obj['total'].to_f * rand()}, #{csv_obj['total'].to_f * rand()}, #{csv_obj['total'].to_f * rand()}, #{csv_obj['total'].to_f * rand()}, #{csv_obj['total'].to_f * rand()}, #{csv_obj['total'].to_f * rand()}, #{csv_obj['total'].to_f * rand()}, #{csv_obj['total'].to_f * rand()}, #{csv_obj['total'].to_f * rand()}, #{csv_obj['total'].to_f}]}," %>
		            <% end %>
	            ]
	        });  
	    }   

	    $(window).resize(function() 
		{    
		    lineChart.setSize(
		       $(".span9").width() - 40,
		       $(document).height() * 0.40,
		       false
		    );  
		    lineChart.redraw() 
		});
	});
</script>