<div id="main_view">
	<div class="container-fluid">
      	<div class="row-fluid">
      		<div class="span3">
	      		<%= render 'layouts/sidebar' %>
	      	</div>
	      	<div class="span9">
		      	<% if params[:sub] == 'bubbles' %>
		      		<%= render 'sub/bubbles' %>
		      	<% end %>
	      	</div>
        </div>
    </div>
</div>

