<div id="main_view">
	<div class="container">
			<div class="well">
				<% if params[:sub] == 'compare' %>
		      		<%= render 'sub/help-compare' %>
		      	<% end %>
		      	<% if params[:sub] == 'bubbles' %>
		      		<%= render 'sub/help-bubbles' %>
		      	<% end %>
		      	<% if params[:sub] == 'timeline' %>
		      		<%= render 'sub/help-timeline' %>
		      	<% end %>
			</div>
	</div>
</div>