<%= render 'layouts/header' %>

<div id="main_view">
	<ul class="nav nav-tabs" id="myTab">
		<li class="active"><a href="#overview">Overview</a></li>
		<li><a href="#table">Table</a></li>
		<li><a href="#detail">Detail</a></li>
	</ul>

	<div class="tab-content">
		<div class="tab-pane active" id="overview">
			<div id="container" class="container">
			    <div id="main" role="main">
			      <div id="vis"></div>
			    </div>
			</div>
		</div>
		<div class="tab-pane" id="table">
			<table class="table table-bordered table-striped tablesorter" id="example">
				<thead>
				    <tr>
						<th>Name</th>
						<th>Adoption</th>
						<th>Evolution</th>
						<th>Knowledge</th>
						<th>Newsvalue</th>
						<th>Sentiment</th>
						<th>Total</th>
				    </tr>
			  	</thead>
			  	<tbody>
				    <tr>
						<td>Java</td>
						<td>212</td>
						<td>123</td>
						<td>90</td>
						<td>46</td>
						<td>209</td>
						<td>46</td>
				    </tr>
				    <tr>
						<td>C++</td>
						<td>199</td>
						<td>100</td>
						<td>210</td>
						<td>36</td>
						<td>187</td>
						<td>210</td>
				    </tr>
				    <tr>
						<td>PHP</td>
						<td>156</td>
						<td>101</td>
						<td>156</td>
						<td>123</td>
						<td>154</td>
						<td>290</td>
				    </tr>
				</tbody>
			</table>
		</div>
		<div class="tab-pane" id="detail">...</div>
	</div>

	<script>
		$(function () {
			$('#myTab a:first').tab('show');
		})
	</script>
</div>
<div id="detailviews">
	<div id="detailviewLang">
		<div id="langLine"></div>
		<div id="parallelLang"></div>
	</div>
	<div id="detailviewFrame">
		<div id="frameLine"></div>
		<div id="parallelFrame"></div>
	</div>
	<div id="detailviewCMS">
		<div id="cmsLine"></div>
		<div id="parallelcms"></div>
	</div>
</div>

<div id="selectboxLang" class="">
	<ul>
		<label for="lang1"><li><input type="checkbox" id="lang1" class="checkbox" checked/>Java</li></label>
		<label for="lang2"><li><input type="checkbox" id="lang2" class="checkbox" checked/>Javascript</li></label>
		<label for="lang3"><li><input type="checkbox" id="lang3" class="checkbox" checked/>PHP</li></label>
		<label for="lang4"><li><input type="checkbox" id="lang4" class="checkbox" checked/>Scala</li></label>
		<label for="lang5"><li><input type="checkbox" id="lang5" class="checkbox" checked/>Ruby</li></label>
	</ul>
</div>

<div id="selectboxAspect" class="">
	<ul>
		<label for="aspect1"><li><input type="checkbox" id="aspect1" class="checkbox" checked/>Adoption</li></label>
		<label for="aspect2"><li><input type="checkbox" id="aspect2" class="checkbox" checked/>Evolution</li></label>
		<label for="aspect3"><li><input type="checkbox" id="aspect3" class="checkbox" checked/>Knowledge</li></label>
		<label for="aspect4"><li><input type="checkbox" id="aspect4" class="checkbox" checked/>Newsvalue</li></label>
		<label for="aspect5"><li><input type="checkbox" id="aspect5" class="checkbox" checked/>Sentiment</li></label>
	</ul>
</div>
