<div id="header">
	<!--
	<button class="tech_cat">Web Frameworks</button>
	<button class="tech_cat">Programming Languages</button> <br/>
	<button class="tech_cat">CMS</button>
	<button class="tech_cat">Programming Languages</button>
	-->
	<div class="buttons">
		<div id="toprow">
			<button class="action" id="technologyOverview"><span class="label">Technology Overview</span></button>
			<button class="action blue" id="programmingLanguages"><span class="label">Programming Languages</span></button>
			<button class="action" id="selectLang"><span class="label">Select a language</span><span class="arrow">&#9660;</span></button>
		</div>
		<div id="bottomrow">
			<button class="action red" id="webFrameworks"><span class="label">Web Frameworks</span></button>
			<button class="action green" id="contentManagementSystems"><span class="label">Content Management Systems</span></button>
			<button class="action" id="selectAspect"><span class="label">Select aspects</span><span class="arrow">&#9660;</span></button>
		</div>	
	</div>
</div>

<div id="main_view">
	<div id="container" class="container">
	    <div id="main" role="main">
	      <div id="vis"></div>
	    </div>
	</div>
</div>
	<div id="detailviewLang"></div>
	<div id="detailviewFrame"></div>
	<div id="detailviewCMS"></div>

<div id="selectboxLang" class="">
	<ul>
		<label for="lang1"><li><input type="checkbox" id="lang1" class="checkbox" checked/>Java</li></label>
		<label for="lang2"><li><input type="checkbox" id="lang2" class="checkbox" checked/>Javascript</li></label>
		<label for="lang3"><li><input type="checkbox" id="lang3" class="checkbox" checked/>PHP</li></label>
		<label for="lang4"><li><input type="checkbox" id="lang4" class="checkbox" checked/>Scala</li></label>
		<label for="lang5"><li><input type="checkbox" id="lang5" class="checkbox" checked/>Ruby</li></label>
	</ul>
</div>

<div id="selectboxAspect" class="">
	<ul>
		<label for="aspect1"><li><input type="checkbox" id="aspect1" class="checkbox" checked/>Adoption</li></label>
		<label for="aspect2"><li><input type="checkbox" id="aspect2" class="checkbox" checked/>Evolution</li></label>
		<label for="aspect3"><li><input type="checkbox" id="aspect3" class="checkbox" checked/>Knowledge</li></label>
		<label for="aspect4"><li><input type="checkbox" id="aspect4" class="checkbox" checked/>Newsvalue</li></label>
		<label for="aspect5"><li><input type="checkbox" id="aspect5" class="checkbox" checked/>Sentiment</li></label>
	</ul>
</div>


<!--
<button id="size" class="first active">Size</button>
<button id="count" class="last">Count</button><p>

<div id="detail_view">
	<div id="line"></div>
	<div id="parallel"></div>
</div>
-->