<div id="header">
	<!--
	<button class="tech_cat">Web Frameworks</button>
	<button class="tech_cat">Programming Languages</button> <br/>
	<button class="tech_cat">CMS</button>
	<button class="tech_cat">Programming Languages</button>
	-->
	<div class="buttons">
		<div id="toprow">
			<button class="action" id="technologyOverview"><span class="label">Technology Overview</span></button>
			<button class="action blue" id="programmingLanguages"><span class="label">Programming Languages</span></button>
			<button class="action" id="selectLang"><span class="label">Select a language</span><span class="arrow">&#9660;</span></button>
		</div>
		<div id="bottomrow">
			<button class="action red" id="webFrameworks"><span class="label">Web Frameworks</span></button>
			<button class="action green" id="contentManagementSystems"><span class="label">Content Management Systems</span></button>
			<button class="action" id="selectAspect"><span class="label">Select aspects</span><span class="arrow">&#9660;</span></button>
		</div>	
	</div>
</div>

<div id="main_view">
	<div id="container" class="container">
	    <div id="main" role="main">
	      <div id="vis"></div>
	    </div>
	</div>
</div>
<div id="selectbox" class=""></div>
<!--
<button id="size" class="first active">Size</button>
<button id="count" class="last">Count</button><p>

<div id="detail_view">
	<div id="line"></div>
	<div id="parallel"></div>
</div>
-->