<div id="main_view">
	<div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>Technology Relevance Model</h1>
        <p>Determine the relevance of Software Developer technologies.</p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span4">
          <h2>Programming Languages</h2>
           <p style="text-align:justify;">Determine the relevance of technologies by comparing different Programming Languages based on Adoption, Evolution, Knowledge, Newsworthiness and Sentiment. To help you prioritize technologies and choose between alternatives.</p>
          <p><a class="btn" href="<%= programmingLanguages_path %>/best-rated">Compare &raquo;</a></p>
        </div>
        <div class="span4">
          <h2>Content Management</h2>
           <p style="text-align:justify;">Compare different Content Management Systems using the Technology Relevance Model aspects: Adoption, Evolution, Knowledge, Newsworthiness and Sentiment. This will help you prioritize different Content Management Systems and choose between alternatives. </p>
          <p><a class="btn" href="<%= contentManagementSystems_path %>/best-rated">Compare &raquo;</a></p>
       </div>
        <div class="span4">
          <h2>Web Frameworks</h2>
          <p style="text-align:justify;">Determine the relevance of different Web Frameworks by comparing these technologies based on Adoption, Evolution, Knowledge, Newsworthiness and Sentiment. To help you prioritize frameworks and choose between alternatives.</p>
          <p><a class="btn" href="<%= webFrameworks_path %>/best-rated">Compare &raquo;</a></p>
        </div>
      </div>
    </div>
</div>