<div id="main_view">
	<ul class="nav nav-tabs" id="myTab">
		<li class="active"><a href="#overview">Overview</a></li>
		<li><a href="#table">Table</a></li>
		<li><a href="#detail">Detail</a></li>
	</ul>

	<div class="tab-content">
		<div class="tab-pane active" id="overview">
			<div id="container" class="container">
			    <div id="main" role="main">
			      <div id="vis"></div>
			    </div>
			</div>
		</div>
		<div class="tab-pane" id="table">
			<table class="table table-bordered table-striped tablesorter" id="example">
				<thead>
				    <tr>
						<th>Name</th>
						<th>Adoption</th>
						<th>Evolution</th>
						<th>Knowledge</th>
						<th>Newsvalue</th>
						<th>Sentiment</th>
						<th>Total</th>
				    </tr>
			  	</thead>
			  	<tbody>
				    <tr>
						<td>Java</td>
						<td>212</td>
						<td>123</td>
						<td>90</td>
						<td>46</td>
						<td>209</td>
						<td>46</td>
				    </tr>
				    <tr>
						<td>C++</td>
						<td>199</td>
						<td>100</td>
						<td>210</td>
						<td>36</td>
						<td>187</td>
						<td>210</td>
				    </tr>
				    <tr>
						<td>PHP</td>
						<td>156</td>
						<td>101</td>
						<td>156</td>
						<td>123</td>
						<td>154</td>
						<td>290</td>
				    </tr>
				</tbody>
			</table>
		</div>
		<div class="tab-pane" id="detail">
			<div class="row-fluid">
				<div class="span3">
					<div class= "well sidebar-nav">
					</div>
				</div>
				<div class="span9">
					<div class="hero-unit">
						<div id="detailviews">
							<div id="langLine"></div>
							<div id="parallelLang"></div>
							<!--<div id="detailviewFrame">
								<div id="frameLine"></div>
								<div id="parallelFrame"></div>
							</div>
							<div id="detailviewCMS">
								<div id="cmsLine"></div>
								<div id="parallelcms"></div>
							</div>-->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
		$(function () {
			$('#myTab a:first').tab('show');
			/*
			var chart;
			var chart2;
		
			render_overview = function(csv) {
				chart = new BubbleChart(csv, $(window).width(), $('#container').height(), "#vis");
				chart.start();
				chart.display_group_all();
			};
			d3.csv("data/total_data.csv", render_overview);

			render_proglang = function(csv) {
				var width;
				width = $(window).width() / 100 * $('.span3').width();
				//chart2 = new BubbleChart(csv, width, width / 2, ".sidebar-nav");
				chart2.start();
				chart2.display_group_all();
			};
			d3.csv("data/webframeworks_data.csv", render_proglang);
			*/
		})
	</script>
</div>

