<div id="main_view">
	<div class="container detail">
		<div class="well">
			<h1><%= @title %></h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean quis dolor odio. Phasellus congue hendrerit adipiscing. Curabitur malesuada, tortor cursus molestie aliquet, enim turpis tempus purus, at pellentesque purus felis viverra lacus. Cras velit quam, condimentum non gravida at, bibendum vel ipsum. Nunc tincidunt gravida arcu ut faucibus. Curabitur adipiscing tincidunt scelerisque. Fusce nec justo enim, a facilisis arcu. Aenean mattis tellus arcu, et tincidunt ante. Quisque urna velit, pretium eget vehicula ut, rutrum non purus. Morbi in purus ac ligula tristique porta. Donec et sapien quis turpis sagittis ultricies in eget sem. Integer lacinia hendrerit lorem, eget pellentesque ante lobortis non. Maecenas congue orci quis libero commodo porta. Nunc rutrum mattis est, eu egestas neque eleifend a.</p>

			<div class="container detail">
				<div class="row">
			        <div class="span2">
			          	<h3>Adoption</h3>
			           	<table>
			           		<tr><td>Rating:</td><td>115</td></tr>
			           		<tr><td>Jobs:</td><td>123.000</td></tr>
			           		<tr><td>People:</td><td>879.344</td></tr>
			           	</table>
			        </div>
			        <div class="span2">
				        <h3>Evolution</h3>
				        <table>
			           		<tr><td>Rating:</td><td>115</td></tr>
			           		<tr><td>Jobs:</td><td>123.000</td></tr>
			           		<tr><td>People:</td><td>879.344</td></tr>
			           	</table>
			       </div>
			        <div class="span2">
			          	<h3>Knowledge</h3>
			          	<table>
			           		<tr><td>Rating:</td><td>115</td></tr>
			           		<tr><td>Books:</td><td>123.000</td></tr>
			           		<tr><td>Learning materials:</td><td>879.344</td></tr>
			           		<tr><td>Questions answered:</td><td>91%</td></tr>
			           	</table>
			        </div>
			        <div class="span2">
			          	<h3>Newsworthiness</h3>
			           	<table>
			           		<tr><td>Rating:</td><td>115</td></tr>
			           		<tr><td>Popularity:</td><td>124</td></tr>
			           		<tr><td>Trends:</td><td>472</td></tr>
			           	</table>
			        </div>
			        <div class="span2">
				        <h3>Sentiment</h3>
				        <table>
			           		<tr><td>Rating:</td><td>115</td></tr>
			           		<tr><td>Positive mentions:</td><td>124</td></tr>
			           		<tr><td>Neutral mentions:</td><td>472</td></tr>
			           		<tr><td>Negative mentions:</td><td>14</td></tr>
			           		<tr><td>Positive ratio:</td><td>9:1</td></tr>
			           	</table>
			       </div>
			    </div>
			</div>
		</div>
	</div>
</div>