svg {
  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: #666 !important;
  fill: #666;
  line-height: 14px;
}

.background path {
  fill: none;
  stroke: #ccc;
  stroke-opacity: .4;
  shape-rendering: crispEdges;
}

.foreground path {
  fill: none;
  /*stroke: steelblue;*/
  stroke-opacity: 1;
  stroke-width: 2;
}

.brush .extent {
  fill-opacity: .3;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.axis line, .axis path {
  fill: none;
  stroke: #666;
  shape-rendering: crispEdges;
}

.axis text {
  /*text-shadow: 0 1px 0 #fff;*/
}