<div id="header">
	<div class="buttons">
		<div id="toprow">
			<button class="action" id="technologyOverview"><span class="label">Technology Overview</span></button>
			<button class="action blue" id="programmingLanguages"><span class="label">Programming Languages</span></button>
			<button class="action" id="selectLang"><span class="label">Select languages</span><span class="arrow">&#9660;</span></button>
		</div>
		<div id="bottomrow">
			<button class="action red" id="webFrameworks"><span class="label">Web Frameworks</span></button>
			<button class="action green" id="contentManagementSystems"><span class="label">Content Management Systems</span></button>
			<button class="action" id="selectAspect"><span class="label">Select aspects</span><span class="arrow">&#9660;</span></button>
		</div>	
	</div>
</div>