<div id="selectboxLang" class="">
	<ul>
		<label for="lang1"><li><input type="checkbox" id="lang1" class="checkbox" checked/>Java</li></label>
		<label for="lang2"><li><input type="checkbox" id="lang2" class="checkbox" checked/>Javascript</li></label>
		<label for="lang3"><li><input type="checkbox" id="lang3" class="checkbox" checked/>PHP</li></label>
		<label for="lang4"><li><input type="checkbox" id="lang4" class="checkbox" checked/>Scala</li></label>
		<label for="lang5"><li><input type="checkbox" id="lang5" class="checkbox" checked/>Ruby</li></label>
	</ul>
</div>

<div id="selectboxAspect" class="">
	<ul>
		<label for="adoption"><li><input type="checkbox" id="adoption" class="checkbox" />Adoption</li></label>
		<label for="evolution"><li><input type="checkbox" id="evolution" class="checkbox" />Evolution</li></label>
		<label for="knowledge"><li><input type="checkbox" id="knowledge" class="checkbox" />Knowledge</li></label>
		<label for="newsworthiness"><li><input type="checkbox" id="newsworthiness" class="checkbox" />Newsworthiness</li></label>
		<label for="sentiment"><li><input type="checkbox" id="sentiment" class="checkbox" />Sentiment</li></label>
	</ul>
</div>