<div id="selectboxLang" class="">
	<ul>
		<label for="lang1"><li><input type="checkbox" id="lang1" class="checkbox" checked/>Java</li></label>
		<label for="lang2"><li><input type="checkbox" id="lang2" class="checkbox" checked/>Javascript</li></label>
		<label for="lang3"><li><input type="checkbox" id="lang3" class="checkbox" checked/>PHP</li></label>
		<label for="lang4"><li><input type="checkbox" id="lang4" class="checkbox" checked/>Scala</li></label>
		<label for="lang5"><li><input type="checkbox" id="lang5" class="checkbox" checked/>Ruby</li></label>
	</ul>
</div>

<div id="selectboxAspect" class="">
	<ul>
		<label for="aspect1"><li><input type="checkbox" id="aspect1" class="checkbox" checked/>Adoption</li></label>
		<label for="aspect2"><li><input type="checkbox" id="aspect2" class="checkbox" checked/>Evolution</li></label>
		<label for="aspect3"><li><input type="checkbox" id="aspect3" class="checkbox" checked/>Knowledge</li></label>
		<label for="aspect4"><li><input type="checkbox" id="aspect4" class="checkbox" checked/>Newsvalue</li></label>
		<label for="aspect5"><li><input type="checkbox" id="aspect5" class="checkbox" checked/>Sentiment</li></label>
	</ul>
</div>