<div class="tab-pane" id="detail">
	<div class="row-fluid">
		<div class="span3">
			<div class= "well sidebar-nav">
			</div>
		</div>
		<div class="span9">
			<div class="hero-unit">
				<div id="detailviews">
					<div id="line"></div>
					<div id="parallel">
						<div id="parallelsvg"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
$(document).ready(function () {
    window.parallelgraph = new ParallelGraph($('#parallel'), '<%= "/#{@csv_file}" %>');


});
</script>